<div class="breadcrum">
    <p>
        <a href="#">Settings</a><span></span>
        <a href="{$config->site_url('pengaturan/tha')}">Tahun Ajaran</a><span></span>
        <small>Tambah Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('pengaturan/tha/')}" ><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />Back</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('pengaturan/tha/process_add')}" method="post">   
    <table class="table-input" width="100%">
        <tr>
            <th colspan="2">Tambah Tahun Ajaran</th>
        </tr>
        <tr>
            <td width="25%">Tahun Ajaran</td>
            <td width="75%">
                <input type="text" id="first_year" name="first_year"> - 
                <input type="text" id="second_year" name="second_year">
                <em>* wajib diisi</em>
            </td>
        </tr>
        <!-- <tr>
                <td width="25%">Status Tahun Ajaran</td>
                <td width="75%">
                        <input type="radio" name="tha_aktif" checked="" id="tha_aktif" value="1" /> Aktif
                        <input type="radio" name="tha_aktif" id="tha_non_aktif" value="0" /> Tidak Aktif
                </td>
        </tr> -->
        <tr class="submit-box">
            <td colspan="2">
                <input type="submit" tabindex="4" name="save" value="Simpan" class="submit-button">
                <input type="reset" tabindex="5" name="save" value="Reset" class="reset-button">
            </td>
        </tr>
    </table>
</form>
</div>
<div class="clear"></div>
</div>
<br />
</div>

<!-- script -->
<script type="text/javascript">
    $(document).ready(function() {
        $("#first_year").change(function() {
            var year = parseInt($(this).val());
            $("#second_year").val(year + 1);
        });
        $("#second_year").change(function() {
            var year = parseInt($(this).val());
            $("#first_year").val(year - 1);
        });
    });
</script>
<!-- end of script -->