<script type="text/javascript">
    $(document).ready(function() {
        // select box perusahaan
        $(".psb_tha").select2({
            allowClear: true
        });
    });
</script> 
<div class="breadcrum">
    <p>
        <a href="#">Settings</a><span></span>
        <small>Tahun Ajaran</small>
    </p>
    <div class="clear"></div>
</div>
<div class="search-box">
    <h3><a href="#">Search</a></h3>
    <form action="{$config->site_url('pengaturan/tha/search_process')}" method="post">
        <table class="table-search" width="100%">
            <tr>
                <td>Tahun Ajaran</td>
                <td>
                    <input type="text" name="tha_tahun_ajaran" placeholder="-- semua --" value="{$search.tha_tahun_ajaran|default:''}">
                </td>
                <td  align="right">
                    <input class="submit" name="save" type="submit" value="Cari" />
                    <input class="submit" name="save" type="submit" value="Reset" />
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="navigation">
    <div class="pageRow">
        <div class="pageNav">
            <ul>
                <li class="info"><strong>{$pagination.total|default:0}</strong> Data Tahun Ajaran&nbsp;</li>{$pagination.data|default:''}
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('pengaturan/tha/add')}"><img src="{$BASEURL}resource/doc/images/icon/add-icon.png" alt="" />Tambah Data</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<table class="table-view" width="100%">
    <tr>
        <th width="3%">No</th>
        <th width="55%">Tahun Ajaran</th>
        <th width="15%">Semester</th>
        <th width="10%">Aktif</th>
        <th width="15%"></th>
    </tr>
    {foreach $rs_id as $result}
    <tr>
        <td align="center">{$no++}.</td>
        <td>{$result.tha_tahun_ajaran}</td>
        <td>
            {if $result.tha_semester eq 1}
            Ganjil
            {else}
            Genap
            {/if}
        </td>
        <td align="center">
            {if $result.tha_aktif eq 1}
            YA
            {else}
            TIDAK
            {/if}
        </td>
        <td align="center">
            <a href="{$config->site_url('pengaturan/tha/edit')}/{$result.tha_id|default:''}" class="button-edit">Edit</a>
            <a href="{$config->site_url('pengaturan/tha/delete')}/{$result.tha_id|default:''}" class="button-hapus">Hapus</a>
        </td>
    </tr>
    {foreachelse}
    <tr>
        <td colspan="5">Data not found!</td>
    </tr>
    {/foreach}


</table>                
</div>
<div class="clear"></div>
</div>
<br />
</div>
