<script type="text/javascript">
    $(document).ready(function() {
        // select2 sekolah
        $(".sekolah_id").select2({
            allowClear: true,
        });

        $(".provinsi_id").select2({
            allowClear: true,
        });
        $(".kab_id").select2({
            allowClear: true,
        });
        // date picker
        $(".cs_tgl_daftar").datepicker({
            yearRange: '1940:2050',
            changeMonth: true,
            changeYear: true,
            showOn: 'both',
            buttonImage: '{$BASEURL}resource/doc/images/icon/calendar.gif',
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd'
        });
        $(".cs_tgl_daftar").datepicker("setDate", new Date());
        $(".ayah_tgllahir").datepicker({
            yearRange: '1940:2050',
            changeMonth: true,
            changeYear: true,
            showOn: 'both',
            buttonImage: '{$BASEURL}resource/doc/images/icon/calendar.gif',
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd'
        });
        $(".ibu_tgllahir").datepicker({
            yearRange: '1940:2050',
            changeMonth: true,
            changeYear: true,
            showOn: 'both',
            buttonImage: '{$BASEURL}resource/doc/images/icon/calendar.gif',
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd'
        });

        $("input[name=cs_kewarganegaraan]").click(function() {
            if ($(this).val() == 'wna') {
                $(".cs_negara").removeAttr('readonly');
            } else {
                $(".cs_negara").val("");
                $(".cs_negara").attr('readonly', '');
            }
        });
        $(".psb_id").change(function() {
            var $jalurpsb_id = $(".jalurpsb_id");
            var $option_jalur = $(".jalurpsb_id option");
            $.ajax({
            url: "{$config->site_url('psb/calonsiswa/get_jalur_available/')}",
                    type: 'POST',
                    dataType: 'json',
                    data : {literal}{'tha' : $(this).val()}{/literal}
        })
                .done(function(msg) {
                    $option_jalur.not(':first').remove();
                    $.each(msg, function(index, value) {
                        $jalurpsb_id.append("<option value=" + value.psb_id + ">" + value.jalurpsb_nama + "</option>")
                    });

                }).error(function(msg) {
            console.log("error");
            console.log(msg);
        });
    });
    });
</script>
<style type="text/css">
    .cs_nilai_un, .cs_tahun_lulus{
        width: 50px;
    }
    .table-input td label{
        display: inline;
        padding-right: 10px;
    }
    input:read-only{
        background-color: #F1F1F1 !important;
    }
</style>
<div class="breadcrum">
    <p>
        <a href="#">PSB</a><span></span>
        <a href="{$config->site_url('psb/calonsiswa')}">Calon Siswa Baru</a><span></span>
        <small>Tambah Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('psb/calonsiswa/')}" ><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />Back</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('psb/calonsiswa/process_add')}" enctype="multipart/form-data" method="post">
    <input type="hidden" name="cs_id" value="{$result.cs_id}">

    <table class="table-input" width="100%">
        <tr>
            <th colspan="4">Ubah Data Calon Siswa</th>
        </tr>
        <tr>
            <td width="20%">Nomor Induk Siswa (NIS)</td>
            <td width="30%">
                <input type="text" name="cs_nis">
                <em>* wajib diisi</em>
            </td>
        </tr>
        <tr>
            <td >Tahun Ajaran PSB</td>
            <td >
                <select name="psb_id" class="psb_id">
                    <option>-- Tahun Ajaran PSB</option>
                    {foreach $rs_psb as $psb}
                    <option value="{$psb.psb_tha}">{$psb.psb_tha}</option>
                    {/foreach}
                </select>
                <em>* wajib diisi</em>
            </td>
        </tr>
        <tr>
            <td >Jalur PSB</td>
            <td >
                <select name="jalurpsb_id" class="jalurpsb_id">
                    <option>-- Jalur PSB</option>
                </select>
                <em>* wajib diisi</em>
            </td>
        </tr>
        <tr>
            <td >Tanggal Pendaftaran</td>
            <td >
                <input type="text" size="10" name="cs_tgl_daftar" class="cs_tgl_daftar">
            </td>
        </tr>
        <tr class="headrow">
            <th colspan="4">Data Siswa</th>
        </tr>
        <tr>
            <td width="15%">Nama</td>
            <td width="35%">
                <input type="text" size="35" id="cs_nama" name="cs_nama" >
                <em>* wajib diisi</em>
            </td>
            <td >Provinsi</td>
            <td >
                <select name="provinsi_id" class="provinsi_id">
                    {foreach $rs_provinsi as $provinsi}
                    <option value="{$provinsi.provinsi_id}">{$provinsi.provinsi_nm}</option>					
                    {/foreach}
                </select>
            </td>
        </tr>
        <tr>
            <td>Jenis Kelamin</td>
            <td>
                <label><input type="radio"  name="cs_jk" value="L" checked="checked">LAKI - LAKI</label>
                <label><input type="radio"  name="cs_jk" value="P">PEREMPUAN</label>
            </td>
            <td >Kabupaten</td>
            <td >
                <select name="kab_id" class="kab_id">
                    {foreach $rs_kab as $kab}
                    <option value="{$kab.kab_id}">{$kab.kab_nm}</option>
                    {/foreach}
                </select>
            </td>
        </tr>
        <tr>
            <td>Kewarganegaraan</td>
            <td>
                <label><input type="radio"  name="cs_kewarganegaraan" value="wni" checked="checked">WNI</label>
                <label><input type="radio"  name="cs_kewarganegaraan" value="wna">WNA</label>
            </td>
            <td >Sekolah Asal</td>
            <td >
                <select name="sekolah_id" class="sekolah_id">
                    {foreach $rs_sekolah as $sekolah}
                    <option value="{$sekolah.sekolah_id}">{$sekolah.sekolah_nama}</option>
                    {/foreach}
                </select>

            </td>
        </tr>
        <tr>
            <td >Negara Asal</td>
            <td >
                <input type="text" readonly name="cs_negara" class="cs_negara">
            </td>
            <td width="15%">Nilai UN</td>
            <td width="35%">
                <input type="number" step="0.01" class="cs_nilai_un" name="cs_nilai_un" >
                <em>* wajib diisi</em>
            </td>
        </tr>
        <tr>
            <td >No Telp.</td>
            <td >
                <input type="text" name="cs_notelp" class="cs_notelp">
            </td>
            <td >Tahun Lulus</td>
            <td >
                <input type="number" maxlength="4" size="4" name="cs_tahun_lulus" class="cs_tahun_lulus">
            </td>
        </tr>
        <tr>
            <td>Agama</td>
            <td>
                <select name="agama_cd" class="agama_cd">
                    {foreach $rs_agama as $agama}
                    <option value="{$agama.agama_cd}">{$agama.agama_nm}</option>
                    {/foreach}
                </select>
            </td>
            <td >Email</td>
            <td >
                <input type="email" name="cs_email" size="30" class="cs_email" value="{$result.cs_email}">
            </td>
        </tr>
        <tr>
            <td valign="top">Alamat</td>
            <td >
                <textarea name="cs_alamat" cols="50" rows="5">{$result.cs_alamat}</textarea>
            </td>
            <td valign="top">Dokumen Siswa</td>
            <td >
                <input type="file" name="cs_upload"	>
            </td>
        </tr>
        <tr class="headrow">
            <th colspan="4">Foto Siswa</th>
        </tr>
        <tr>
            <td colspan="4" align="center">
                <img src="http://placehold.it/125x160">
                <br><br>
                <input type="file" name="cs_foto" class="cs_foto">
            </td>
        </tr>
        <tr class="headrow">
            <th colspan="4">Data Ayah Kandung</th>
        </tr>
        <tr>
            <td>Nama Ayah</td>
            <td>
                <input type="text" name="ayah_nm" />
            </td>
            <td>Pendidikan</td>
            <td>
                <input type="text" name="ayah_pendidikan"/>
            </td>
        </tr>
        <tr>
            <td>Tempat Lahir</td>
            <td>
                <input type="text" name="ayah_tempatlahir" />
            </td>
            <td>Pekerjaan</td>
            <td>
                <input type="text" name="ayah_pekerjaan"  />
            </td>
        </tr>
        <tr>
            <td>Tanggal Lahir</td>
            <td>
                <input type="text" name="ayah_tgllahir" class="ayah_tgllahir" />
            </td>
            <td>Agama</td>
            <td>
                <select name="ayah_agama" class="ayah_agama">
                    {foreach $rs_agama as $agama}
                    <option  value="{$agama.agama_cd}">{$agama.agama_nm}</option>
                    {/foreach}
                </select>
            </td>
        </tr>
        <tr>
            <td>Kewarganegaraan</td>
            <td>
                <label><input type="radio"  name="ayah_kewarganegaraan" value="wni" checked="checked">WNI</label>
                <label><input type="radio"  name="ayah_kewarganegaraan" value="wna">WNA</label>
            </td>
            <td valign="top">No. Telp</td>
            <td >
                <input type="text" name="ayah_notelp"  />
            </td>
        </tr>

        <tr>
            <td valign="top">Alamat</td>
            <td >
                <textarea name="ayah_alamat" cols="50" rows="5">{$result.ayah_alamat}</textarea>
            </td>
            <td valign="top">Status</td>
            <td >
                <label><input type="radio"  name="ayah_st" value="1" checked="checked">Hidup</label>
                <label><input type="radio"  name="ayah_st" value="0">Meninggal</label>
            </td>
        </tr>
        <tr class="headrow">
            <th colspan="4">Data Ibu Kandung</th>
        </tr>
        <tr>
            <td>Nama Ibu</td>
            <td>
                <input type="text" size="35" name="ibu_nm"  />
            </td>
            <td>Pendidikan</td>
            <td>
                <input type="text" name="ibu_pendidikan"  />
            </td>
        </tr>
        <tr>
            <td>Tempat Lahir</td>
            <td>
                <input type="text" name="ibu_tempatlahir"  />
            </td>
            <td>Pekerjaan</td>
            <td>
                <input type="text" name="ibu_pekerjaan"  />
            </td>
        </tr>
        <tr>
            <td>Tanggal Lahir</td>
            <td>
                <input type="text" name="ibu_tgllahir" class="ibu_tgllahir"/>
            </td>
            <td>Agama</td>
            <td>
                <select name="ibu_agama" class="ibu_agama">
                    {foreach $rs_agama as $agama}
                    <option   value="{$agama.agama_cd}">{$agama.agama_nm}</option>
                    {/foreach}
                </select>
            </td>
        </tr>
        <tr>
            <td>Kewarganegaraan</td>
            <td>
                <label><input type="radio" name="ibu_kewarganegaraan" value="wni" checked="checked">WNI</label>
                <label><input type="radio" name="ibu_kewarganegaraan" value="wna">WNA</label>
            </td>
            <td valign="top">No. Telp</td>
            <td >
                <input type="text" name="ibu_notelp" value="{$result.ibu_notelp}" />
            </td>
        </tr>

        <tr>
            <td valign="top">Alamat</td>
            <td >
                <textarea name="ibu_alamat" cols="50" rows="5"></textarea>
            </td>
            <td valign="top">Status</td>
            <td >
                <label><input type="radio"  name="ibu_st" value="1" checked="checked">Hidup</label>
                <label><input type="radio"  name="ibu_st" value="0">Meninggal</label>
            </td>
        </tr>
        <tr class="headrow">
            <th colspan="4">Data Wali</th>
        </tr>
        <tr>
            <td>Nama Wali</td>
            <td>
                <input type="text" size="35" name="wali_nm" />
            </td>
        </tr>
        <tr>
            <td>Agama</td>
            <td>
                <select name="wali_agama" class="wali_agama">
                    {foreach $rs_agama as $agama}
                    <option  value="{$agama.agama_cd}">{$agama.agama_nm}</option>
                    {/foreach}
                </select>
            </td>
        </tr>
        <tr>
            <td>Pekerjaan</td>
            <td>
                <input type="text" name="wali_pekerjaan" />
            </td>

        </tr>
        <tr>
            <td valign="top">No. Telp</td>
            <td >
                <input type="text" name="wali_notelp" />
            </td>
        </tr>

        <tr>
            <td valign="top">Alamat</td>
            <td >
                <textarea name="wali_alamat" cols="50" rows="5"></textarea>
            </td>

        </tr>
        <tr class="submit-box">
            <td colspan="4">
                <input type="submit" tabindex="4" name="save" value="Simpan" class="submit-button">
                <input type="reset" tabindex="5" name="save" value="Reset" class="reset-button">
            </td>
        </tr>
    </table>
</form>                
</div>
<div class="clear"></div>
</div>
<br />
</div>