<script type="text/javascript">
$(document).ready(function() {
    // date picker
    $("#tgl_lahir").datetimepicker({
      'format' : 'YYYY-MM-DD',
      'ignoreReadonly' : true
    });
});
</script>

<section class="content-header">
    <h1>Edit Data Siswa</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-gear"></i> Data Master</a></li>
        <li><a href="{$config->site_url('pengaturan/operator')}"> Siswa</a></li>
        <li><a href="#">Edit Data</a></li>
    </ol>
</section>

<section class="content">
  <!-- notification template -->
  {include file="base/templates/notification.html"}
  <!-- end of notification template-->
    <div class="box">
      <div class="box-header with-border">
          <h5 class="box-title">Data Siswa<small></small></h5>
          <div class="box-tools">
              <a href="{$config->site_url('master/siswa/')}" class="btn btn-success btn-sm"><i class="fa fa-arrow-left"></i>&nbsp; Kembali</a>
          </div>
      </div>
        <!-- form start -->
        <form action="{$config->site_url('master/siswa/process_edit')}" method="post">
            <div class="box-body">
                <div class="form-horizontal">

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">NIS</label>
                                <div class="col-sm-8">
                                    <input class="form-control" name="nis" type="text" value="{$result.nis}" readonly=""/>
                                    <small>* Wajib diisi</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Nama Siswa</label>
                                <div class="col-sm-8">
                                    <input class="form-control" name="nama" type="text" value="{$result.nama}" />
                                    <small>* Wajib diisi</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Jenis Kelamin</label>
                                <div class="col-sm-8">
                                    <input class="form-control" name="jenis_kelamin" type="text" value="{$result.jenis_kelamin}"/>
                                    <small>* Wajib diisi</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Tempat Lahir</label>
                                <div class="col-sm-8">
                                    <input class="form-control" name="tempat_lahir" type="text" value="{$result.tempat_lahir}"
                                    <small>* Wajib diisi</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Tanggal Lahir</label>
                                <div class="col-sm-8">
                                    <input class="form-control" readonly name="tgl_lahir" id="tgl_lahir" type="text" value="{$result.tgl_lahir}"/>
                                    <small>* Wajib diisi</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Minat 1</label>
                                <div class="col-sm-8">
                                    <input class="form-control" name="minat1" type="text" value="{$result.minat1}"/>
                                    <small>* Wajib diisi</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Minat 2</label>
                                <div class="col-sm-8">
                                    <input class="form-control" name="minat2" type="text" value="{$result.minat2}"/>
                                    <small>* Wajib diisi</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Asal Sekolah</label>
                                <div class="col-sm-8">
                                    <input class="form-control" name="asal_sekolah" type="text" value="{$result.asal_sekolah}"/>
                                    <small>* Wajib diisi</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <div class="col-lg-12">
                    <div class="pull-right">
                        <input type="reset" name="save" value="Reset" class="btn btn-default" />
                        <input type="submit" name="save" value="Simpan" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
