<script type="text/javascript">
$(document).ready(function() {

});
</script>

<section class="content-header">
    <h1>Tambah Rating</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-gear"></i> Perhitungan</a></li>
        <li><a href="{$config->site_url('pengaturan/operator')}">Rating</a></li>
        <li><a href="#">Tambah Data Rating</a></li>
    </ol>
</section>

<section class="content">
  <!-- notification template -->
  {include file="base/templates/notification.html"}
  <!-- end of notification template-->
    <div class="box">
      <div class="box-header with-border">
          <h5 class="box-title">Rating<small></small></h5>
          <div class="box-tools">
              <a href="{$config->site_url('perhitungan/rating/')}" class="btn btn-success btn-sm"><i class="fa fa-arrow-left"></i>&nbsp; Kembali</a>
          </div>
      </div>
        <!-- form start -->
        <form action="{$config->site_url('perhitungan/rating/process_add')}" method="post">
            <div class="box-body">
                <div class="form-horizontal">
                    <input name="user_id" type="hidden"  value="{$result.user_id|default:''}" />
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nama Rating</label>
                                <div class="col-sm-4">
                                    <input class="form-control" name="nama_rating" type="text" />

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Group Rating</label>
                                <div class="col-sm-4">

                                    <select class="form-control" name="group_rating">
                                  <option value="un">UN</option>
                                  <option value="tes">Tes</option>
                                  <option value="peminatan">Peminatan</option>

                                    </select>
                              </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nilai Rating </label>
                                <div class="col-sm-4">
                                <input class="form-control" name="nilai_rating" type="text" />
                              </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Periode</label>
                                <div class="col-sm-4">
                                    <select class="form-control" name="periode">
                                        {foreach $rs_periode as $periode}
                                        <option {if $periode.id eq $result.periode}selected{/if} value="{$periode.id}">{$periode.tahun|upper}</option>
                                        {/foreach}
                                    </select>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <div class="col-lg-12">
                    <div class="pull-right">
                        <input type="reset" name="save" value="Reset" class="btn btn-default" />
                        <input type="submit" name="save" value="Simpan" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
