<section class="content-header">
    <h1>Perhitungan</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-gear"></i>Perhitungan</a></li>
        <li><a href="#">Rating</a></li>
    </ol>
</section>
<section class="content">
    <div class="box">

    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->

    <div class="box-body">
        <h5 class="box-title">Pencarian<small></small></h5>
        <form class="form-horizontal" action="{$config->site_url('perhitungan/rating/search_process')}" method="post">

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <input type="text" class="col-sm-10 form-control" id="nama" name="nama_rating" value="{$search.nama_rating}" placeholder="-- semua --">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <select class="form-control" name="periode">
                                <option value="">-- Tahun Ajaran --</option>
                                {foreach $rs_import as $periode}
                                <option {if $search.periode eq $periode.id}selected{/if} value="{$periode.id}">{$periode.tahun|upper}</option>
                                {/foreach}
                            </select>
                        </div>
                        <div class="col-sm-4 pull-right action-right">
                            <input class="btn btn-primary " name="save" type="submit" value="Cari">
                            <input class="btn btn-danger" name="save" type="submit" value="Reset">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    <div class="box">
        <div class="box-header with-border">
            <h5 class="box-title">Rating Nilai<small></small></h5>
            <div class="box-tools">
                <a href="{$config->site_url('perhitungan/rating/add')}" class="btn btn-success btn-sm"><i class="fa fa-plus"></i>&nbsp; Tambah</a>
            </div>
        </div>
        <div class="box-body">
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>

                        <th align="center",width="25%">Nama Rating</th>
                        <th align="center",width="25%">Group Rating</th>
                        <th align="center",width="25%">Nilai Rating</th>
                        <th align="center",width="25%">Periode</th>

                        <th width="20%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {$no = 1}
                    {foreach $rs_id as $result}
                    <tr>

                        <td>{$result.nama_rating|upper}</td>
                        <td>{$result.group_rating|upper}</td>
                        <td>{$result.nilai_rating|upper}</td>
                        <td>{$result.tahun|upper}</td>

                        <td align="center">
                            <a class="btn bg-olive btn-flat btn-sm" href="{$config->site_url('perhitungan/rating/edit/'|cat:$result.id_rating|default:'')}" class="button-edit">Edit</a>
                            <a
                            class="btn btn-danger btn-flat btn-sm btn-delete"
                            href="#"
                            class="button-hapus" data-href="{$config->site_url('perhitungan/rating/delete/'|cat:$result.id_rating|default:'')}"
                            data-toggle="modal" data-target="#confirm-delete">Hapus</a>
                        </td>
                    </tr>
                    {foreachelse}
                    <tr>
                        <td colspan="8">Data tidak ditemukan</td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
        </div>
        <!-- <div class="box-footer clearfix">
            <div class="col-sm-6">
                Menampilkan <b>{$pagination.start|default:0}</b> sampai <b>{$pagination.end|default:0}</b> dari <b>{$pagination.total|default:0}</b></strong> Data Operator
            </div>
            <ul class="pagination pagination-sm no-margin pull-right">
                {$pagination.data|default:''}
            </ul>
        </div> -->
    </div>
</section>
