<div class="breadcrum">
    <p>
        <a href="#">Data Master</a><span></span>
        <small>Kepengurusan</small>
    </p>
    <div class="clear"></div>
</div>
<div class="main-menu">
    <a href="{$config->site_url('master/pengurussekolah')}" class="link-menu">
        <img src="{$BASEURL}resource/doc/images/icon/folder.png" alt="">
        <span>Pengurus Sekolah</span>
    </a>
    <a href="{$config->site_url('master/statuspengurus')}" class="link-menu">
        <img src="{$BASEURL}resource/doc/images/icon/folder.png" alt="">
        <span>Data Status Pengurus</span>
    </a>
    <a href="{$config->site_url('master/jabatanstruktural')}" class="link-menu">
        <img src="{$BASEURL}resource/doc/images/icon/folder.png" alt="">
        <span>Data Jabatan Struktural</span>
    </a>
    <a href="{$config->site_url('master/jabatanfungsional')}" class="link-menu">
        <img src="{$BASEURL}resource/doc/images/icon/folder.png" alt="">
        <span>Data Jabatan Fungsional</span>
    </a>
    <a href="{$config->site_url('master/jabatanpengurus')}" class="link-menu">
        <img src="{$BASEURL}resource/doc/images/icon/folder.png" alt="">
        <span>Data Jabatan Pengurus</span>
    </a>

    <div class="clear"></div>
</div>