<div class="breadcrum">
    <p>
        <a href="#">Data Master</a><span></span>
        <small>Penerimaan Siswa Baru</small>
    </p>
    <div class="clear"></div>
</div>
<div class="main-menu">
    <a href="{$config->site_url('master/mapelpsb')}" class="link-menu">
        <img src="{$BASEURL}resource/doc/images/icon/folder.png" alt="">
        <span>Mata Pelajaran PSB</span>
    </a>
    <a href="{$config->site_url('master/sekolah')}" class="link-menu">
        <img src="{$BASEURL}resource/doc/images/icon/folder.png" alt="">
        <span>Data Sekolah</span>
    </a>
    <a href="{$config->site_url('master/jalurpsb')}" class="link-menu">
        <img src="{$BASEURL}resource/doc/images/icon/folder.png" alt="">
        <span>Jalur PSB</span>
    </a>
    <a href="{$config->site_url('master/psb')}" class="link-menu">
        <img src="{$BASEURL}resource/doc/images/icon/folder.png" alt="">
        <span>Tahun PSB</span>
    </a>

    <div class="clear"></div>
</div>