<div class="breadcrum">
    <p>
        <a href="#">Data Master</a><span></span>
        <a href="{$config->site_url('master/jenispengurus')}">Jenis Pengurus</a><span></span>
        <small>Ubah Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('master/jenispengurus/')}" ><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />Back</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('master/jenispengurus/process_edit')}" method="post">
    <input type="hidden" name="jenis_id" value="{$result.jenis_id}">
    <table class="table-input" width="100%">
        <tr>
            <th colspan="2">Ubah Jenis Pengurus</th>
        </tr>
        <tr>
            <td width="25%">Jenis Pengurus</td>
            <td width="75%">
                <input type="text" id="jenis_nama" name="jenis_nama" value="{$result.jenis_nama|default:''}">
                <em>* wajib diisi</em>
            </td>
        </tr>

        <tr class="submit-box">
            <td colspan="2">
                <input type="submit" tabindex="4" name="save" value="Simpan" class="submit-button">
                <input type="reset" tabindex="5" name="save" value="Reset" class="reset-button">
            </td>
        </tr>
    </table>
</form>                
</div>
<div class="clear"></div>
</div>
<br />
</div>