<div class="breadcrum">
    <p>
        <a href="#">Data Master</a><span></span>
        <a href="{$config->site_url('master/mapel')}">Mata Pelajaran</a><span></span>
        <small>Tambah Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('master/mapel/')}" ><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />Back</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('master/mapel/process_add')}" method="post">   
    <table class="table-input" width="100%">
        <tr>
            <th colspan="2">Tambah Mata Pelajaran</th>
        </tr>
        <tr>
            <td width="25%">Kode Mata Pelajaran</td>
            <td width="75%">
                <input type="text" id="mapel_id" name="mapel_id">
                <em>* wajib diisi</em>
            </td>
        </tr>
        <tr>
            <td width="25%">Nama Mata Pelajaran</td>
            <td width="75%">
                <input type="text" id="mapel_nama" name="mapel_nama">
                <em>* wajib diisi</em>
            </td>
        </tr>
       
        <tr>
            <td width="25%">Tingkat</td>
            <td width="75%">
                <select name="grade_id">
                    <option value="">-- Tingkat</option>
                    {foreach $rs_grade as $grade}
                    <option value="{$grade.grade_id}">{$grade.grade_nm}</option>}
                    {/foreach}
                </select>
                <em>* wajib diisi</em>
            </td>
        </tr>
        <tr>
            <td width="25%">Semester</td>
            <td width="75%">
                <input type="radio" name="mapel_sem" checked="" value="1"> Ganjil             
                <input type="radio" name="mapel_sem" value="2"> Genap             
            </td>
        </tr>
        
        <tr>
        <td width="25%">Kelompok Mapel</td>
            <td width="75%">
                <select name="mapelgroup_id">
                    <option value="">-- Kelompok --</option>
                    {foreach $rs_mapelgroup as $kelompok}
                    <option value="{$kelompok.mapelgroup_id}">{$kelompok.mapelgroup_nm}</option>}
                    {/foreach}
                </select>
                <em>* wajib diisi</em>
            </td>
        </tr>
        <tr>
            <td width="25%">Status</td>
            <td width="75%">
                <input type="radio" name="mapel_st" checked="" value="aktif"> Aktif             
                <input type="radio" name="mapel_st" value="stop"> Non-Aktif             
            </td>
        </tr>
        <tr>
            <td width="25%">Keterangan</td>
            <td width="75%">
                <textarea name="mapel_keterangan" cols="50" rows="5"></textarea>
            </td>
        </tr>
        <tr class="submit-box">
            <td colspan="2">
                <input type="submit" tabindex="4" name="save" value="Simpan" class="submit-button">
                <input type="reset" tabindex="5" name="save" value="Reset" class="reset-button">
            </td>
        </tr>
    </table>
</form>
</div>
<div class="clear"></div>
</div>
<br />
</div>