<script type="text/javascript">
    $(document).ready(function() {
        // click event send ajax
        $('.grade_id, .jurusan_id').change(function() {
            var grade_id = $(this).val(); 
            var jurusan_id = $('.jurusan_id').val();
            $.ajax({
                url: "{$config->site_url('psb/penempatan/ajax_get_kelas/')}",
                type: 'POST',
                dataType: 'json',
                data : {literal}{'grade_id' : grade_id, 'jurusan_id' : jurusan_id}{/literal}
            }).done(function(msg) {
                $(".kelas_id option").not(':first').remove();
                $.each(msg, function(index, value) {
                    $('.kelas_id').append("<option value=" + value.kelas_id + ">" + value.kelas_nm + "</option>");
                });
            }).error(function(msg) {
                console.log("error");
                console.log(msg);
            });
        });

        // checkbox
        $(".check_all").click(function() {
            if ($(this).is(":checked")) {
                $(".siswa_id").prop("checked", true);
            } else {
                $(".siswa_id").prop("checked", false);
            }
        });
    });
</script>
<style type="text/css" media="screen">
    .search-box.kelas{
        margin-top: 20px;
    }
    .search-box.kelas h3 a{
        padding: 10px 10px 10px 30px !important;
        background-image: url("{$BASEURL}resource/doc/images/icon/search-box-class.png") !important;
    }
    input[type=number]{
        width: 50px;
    }
</style> 
<div class="breadcrum">
    <p>
        <a href="#">PSB</a><span></span>
        <small>Penempatan Siswa Baru</small>
    </p>
    <div class="clear"></div>
</div>
<div class="search-box">
    <h3><a href="#">Search</a></h3>
    <form action="{$config->site_url('psb/penempatan/search_process')}" method="post">
        <table class="table-search" width="100%">
            <tr>
                <th>Tahun Masuk</th>
                <td>
                    <select name="siswa_tahun_masuk">
                        {foreach $rs_tahun_masuk as $tahun}
                        <option {if $search.siswa_tahun_masuk eq $tahun.siswa_tahun_masuk}selected{/if} value="{$tahun.siswa_tahun_masuk}">{$tahun.siswa_tahun_masuk}</option>
                        {/foreach}
                    </select>
                </td>
                <th>Jurusan</th>
                <td>
                    <select name="jurusan_id" class="jurusan_id">
                        {foreach $rs_jurusan as $jurusan}
                        <option {if $search.jurusan_id eq $jurusan.jurusan_id}selected{/if} value="{$jurusan.jurusan_id}">{$jurusan.jurusan_nm}</option>
                        {/foreach}
                    </select>
                </td>
                <th>Nilai UN</th>
                <td width="5%">
                    <select name="operator" class="operator">
                        <option value="">-- Operator</option>
                        <option {if $search.operator eq '>'}selected{/if} value=">">></option>
                        <option {if $search.operator eq '>='}selected{/if} value=">=">>=</option>
                        <option {if $search.operator eq '<'}selected{/if} value="<"><</option>
                        <option {if $search.operator eq '<='}selected{/if} value="<="><=</option>
                    </select>
                </td>
                <td>
                    <input type="number" name="siswa_nilai_un" step="0.01" value="{$search.siswa_nilai_un|default:''}" placeholder="nilai">
                </td>
                
                <td  align="right">
                    <input class="submit" name="save" type="submit" value="Cari" />
                    <input class="submit" name="save" type="submit" value="Reset" />
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="navigation">
    <div class="pageRow">
        <div class="pageNav">
            <ul>
                <li class="info"><strong>{$pagination.total|default:0}</strong> Data Siswa &nbsp;</li>{$pagination.data|default:''}
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<table class="table-view" width="100%">
    <tr>
        <th width="3%"><input type="checkbox" name="check_all" class="check_all" value=""></th>
        <th width="3%">No</th>
        <th width="15%">NIS</th>
        <th width="15%">Nama</th>
        <th width="15%">Jurusan</th>
        <th width="10%">Nilai UN</th>
    </tr>
    {foreach $rs_id as $result}
    <tr>
        <td align="center"><input form="penempatan" type="checkbox" name="siswa_id[]" class="siswa_id" value="{$result.siswa_id}"></td>
        <td align="center">{$no++}.</td>
        <td align="center">{$result.siswa_nis}</td>
        <td align="center">{$result.siswa_nama}</td>
        <td align="center">{$result.jurusan_nm}</td>
        <td align="center">{$result.siswa_nilai_un}</td>
    </tr>
    {foreachelse}
    <tr>
        <td colspan="7">Data tidak ditemukan!</td>
    </tr>
    {/foreach}
</table>
<div class="search-box kelas">
    <h3><a href="#">Penempatan Kelas</a></h3>
    <form action="{$config->site_url('psb/penempatan/process')}" method="post" id="penempatan">
        <table class="table-search" width="100%">
            <tr>
                <th>Tingkat</th>
                <td>
                    <select name="grade_id" class="grade_id">
                        <option value="">-- Tingkat --</option>
                        {foreach $rs_grade as $grade}
                        <option {if $search.grade_id eq $grade.grade_id}selected{/if} value="{$grade.grade_id}">{$grade.grade_nm}</option>
                        {/foreach}
                    </select>
                </td>
                <th>Kelas</th>
                <td>
                    <select name="kelas_id" class="kelas_id">
                        <option value="">-- Kelas --</option>
                    </select>
                </td>

                <td  align="right">
                    <input class="submit" name="save" type="submit" value="Tempatkan" />
                </td>
            </tr>
        </table>
    </form>
</div>           
</div>
<div class="clear"></div>
</div>
<br />
</div>