#masthead, #main, #footer{
	clear:both;
	float:left;
	margin:0 10%;
	width:80%;
}


#masthead{
	background:url(../img/logo.png) no-repeat;
	height:100px;
	margin-top: 20px;
	margin-bottom: 50px;

}

#masthead h1{
	padding-left: 110px;
}

#main {
	margin-bottom: 50px;
}

#footer{
	border-top:1px solid blue;
	font-size:smaller;
	font-weight:bold;
	padding-top:5px;
}

.image {
	text-align: center;
}

.action-right{
	text-align: right;
}
/* modal warning*/
.modal .warning i{
	color: #F39C12;
}
/* @override : img-responsive*/
.img > .img-responsive{
	margin: 0 auto;
	margin-bottom: 10px;
}
