<script type="text/javascript">
    $(document).ready(function() {
        // date picker
        $(".tanggal_lahir").datepicker({
            yearRange: '1940:2050',
            changeMonth: true,
            changeYear: true,
            showOn: 'both',
            buttonImage: '{$BASEURL}resource/doc/images/icon/calendar.gif',
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd'
        });
        $(".tgl_sk_pns").datepicker({
            yearRange: '1940:2050',
            changeMonth: true,
            changeYear: true,
            showOn: 'both',
            buttonImage: '{$BASEURL}resource/doc/images/icon/calendar.gif',
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd'
        });
        $(".tgl_pensiun").datepicker({
            yearRange: '1940:2050',
            changeMonth: true,
            changeYear: true,
            showOn: 'both',
            buttonImage: '{$BASEURL}resource/doc/images/icon/calendar.gif',
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd'
        });
        $(".tmt_cpns").datepicker({
            yearRange: '1940:2050',
            changeMonth: true,
            changeYear: true,
            showOn: 'both',
            buttonImage: '{$BASEURL}resource/doc/images/icon/calendar.gif',
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd'
        });
        $(".tmt_pns").datepicker({
            yearRange: '1940:2050',
            changeMonth: true,
            changeYear: true,
            showOn: 'both',
            buttonImage: '{$BASEURL}resource/doc/images/icon/calendar.gif',
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd'
        });
        $(".kontrak_mulai").datepicker({
            yearRange: '1940:2050',
            changeMonth: true,
            changeYear: true,
            showOn: 'both',
            buttonImage: '{$BASEURL}resource/doc/images/icon/calendar.gif',
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd'
        });
        $(".kontrak_berakhir").datepicker({
            yearRange: '1940:2050',
            changeMonth: true,
            changeYear: true,
            showOn: 'both',
            buttonImage: '{$BASEURL}resource/doc/images/icon/calendar.gif',
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd'
        });
        $('tr.mapelgroup_id').hide();

        $('.jenis_id').change(function() {
            if($(this).val() == 1){
                $('tr.mapelgroup_id').show();
            }else{
                $('tr.mapelgroup_id').hide();
            }
        });
    });
</script>
<style type="text/css" media="screen">
    input[type=number]{
        width: 35px;
    }
</style>
<div class="breadcrum">
    <p>
        <a href="#">Data Master</a><span></span>
        <a href="{$config->site_url('group/kepengurusan')}">Kepengurusan</a><span></span>

        <a href="{$config->site_url('master/pengurussekolah')}">Pengurus Sekolah</a><span></span>
        <small>Tambah Data</small>
    </p>
    <div class="clear"></div>
</div>
<div class="navigation">
    <div class="navigation-button">
        <ul>
            <li><a href="{$config->site_url('master/pengurussekolah/')}" ><img src="{$BASEURL}resource/doc/images/icon/back-icon.png" alt="" />Back</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- notification template -->
{include file="base/templates/notification.html"}
<!-- end of notification template-->
<form action="{$config->site_url('master/pengurussekolah/process_add')}" method="post" enctype="multipart/form-data">

    <table class="table-input" width="100%">
        <tr>
            <th colspan="4">Tambah Pengurus Sekolah</th>
        </tr>
        <tr>
            <td width="20%">NIK</td>
            <td width="30%">
                <input type="text" size="30" id="guru_nik" name="guru_nik">
                <em>* wajib diisi</em>
            </td>
            <td width="20%">No Telp.</td>
            <td width="30%">
                <input type="text" id="guru_notelp" name="guru_notelp">
            </td>
        </tr>
        <tr>
            <td >Nama</td>
            <td >
                <input type="text" size="30" id="guru_nama" name="guru_nama">
                <em>* wajib diisi</em>
            </td>
            <td >Status</td>
            <td >
                <input type="radio" name="guru_st" checked="" value="aktif"> Aktif
                <input type="radio" name="guru_st" value="non aktif"> Non Aktif
            </td>
        </tr>
        <tr>
            <td >Tempat Lahir</td>
            <td >
                <input type="text" id="tempat_lahir" name="tempat_lahir">
            </td>
            <td >Agama</td>
            <td >
                <select name="agama_cd">
                    {foreach $rs_agama as $agama}
                    <option value="{$agama.agama_cd}">{$agama.agama_nm}</option>          
                    {/foreach}
                </select>
            </td>
        </tr>
        <tr>
            <td >Tanggal Lahir</td>
            <td >
                <input type="text" size="10" class="tanggal_lahir" name="tanggal_lahir">
            </td>
            <td >Status Pernikahan</td>
            <td >
                <select name="nikah_st">
                    <option>Belum Menikah</option>
                    <option>Menikah</option>
                    <option>Duda</option>
                    <option>Janda</option>
                </select>
            </td>
        </tr>
        <tr>
            <td >Alamat Asal</td>
            <td >
                <textarea name="alamat_asal" cols="50" rows="5"></textarea>
            </td>
            <td >Alamat Tinggal</td>
            <td >
                <textarea name="alamat_tinggal" cols="50" rows="5"></textarea>
            </td>
        </tr>
        <tr>
            <td >Jenis</td>
            <td >
                <select name="jenis_id" class="jenis_id">
                    <option value="">-- Jenis Pengurus --</option>
                    {foreach $rs_jenis as $jenis}
                    <option value="{$jenis.jenis_id}">{$jenis.jenis_nama}</option>                  
                    {/foreach}
                </select>
            </td>
            <td >Jenis Kelamin</td>
            <td >
                <input type="radio" name="gender" checked="" value="L"> Laki-Laki
                <input type="radio" name="gender" value="P"> Perempuan
            </td>
        </tr>
        <tr class="mapelgroup_id">
            <td>Mengajar Kelompok Mata Pelajaran</td>
            <td >
                <select name="mapelgroup_id">
                    {foreach $rs_mapelgroup as $group}
                    <option value="{$group.mapelgroup_id}">{$group.mapelgroup_nm}</option>                  
                    {/foreach}
                </select>
            </td>
        </tr>
        <tr>
            <th colspan="4">Administrasi Kepengurusan</th>
        </tr>
        <tr>
            <td >No. SK PNS</td>
            <td >
                <input type="text" size="30" id="no_sk_pns" name="no_sk_pns">
            </td>
            <td >Tingkat Pendidikan</td>
            <td >
                <select name="tingkat_pendidikan">
                    {foreach $rs_tingkat as $tingkat}
                    <option value="{$tingkat.pref_value}">{$tingkat.pref_value}</option>          
                    {/foreach}
                </select>
            </td>
        </tr>
        <tr>
            <td >Tanggal SK PNS</td>
            <td >
                <input type="text" size="10" class="tgl_sk_pns" name="tgl_sk_pns">
            </td>
            <td >Keterangan Pendidikan</td>
            <td >
                <textarea rows="2" cols="50" name="ket_pendidikan"></textarea>
            </td>
        </tr>
        <tr>
            <td >Tanggal Pensiun</td>
            <td >
                <input type="text" size="10" class="tgl_pensiun" name="tgl_pensiun">
            </td>
            <td >Unit Kerja</td>
            <td >
                <select name="unit_id">
                    {foreach $rs_unit as $unit}
                    <option value="{$unit.unit_id}">{$unit.unit_nm}</option>          
                    {/foreach}
                </select>
            </td>
        </tr>
        <tr>
            <td >Umur Pensiun</td>
            <td >
                <input type="number" size="10" class="umur_pensiun" name="umur_pensiun">
            </td>
            <td >Tanggal Mulai Kontrak</td>
            <td >
                <input type="text" size="10" class="kontrak_mulai" name="kontrak_mulai">
            </td>
        </tr>
        <tr>
            <td >No. Askes</td>
            <td >
                <input type="text" size="30" id="no_askes" name="nomor_askes">
            </td>
            <td >Tanggal Kontrak Berakhir</td>
            <td >
                <input type="text" size="10" class="kontrak_berakhir" name="kontrak_berakhir">
            </td>
        </tr>
        <tr>
            <td >No. Taspen</td>
            <td >
                <input type="text" size="30" id="no_taspen" name="no_askes">
            </td>
            <td >Tanggal Tamat CPNS</td>
            <td >
                <input type="text" size="10" class="tmt_cpns" name="tmt_cpns">
            </td>
        </tr>
        <tr>
            <td >Status Pengurus</td>
            <td >
                <select name="status_id">
                    {foreach $rs_statuspengurus as $status}
                    <option value="{$status.status_id}">{$status.status_nm}</option>          
                    {/foreach}
                </select>
            </td>

            <td >Tanggal Tamat PNS</td>
            <td >
                <input type="text" size="10" class="tmt_pns" name="tmt_pns">
            </td>
        </tr>
        <tr>

            <td >Kartu Pegawai</td>
            <td >
                <input type="file" id="kartu_pegawai" name="kartu_pegawai">
            </td>
            <td>Foto</td>
            <td>
                <input type="file" name="foto">
            </td>
        </tr>
        <tr class="submit-box">
            <td colspan="4">
                <input type="submit" tabindex="4" name="save" value="Simpan" class="submit-button">
                <input type="reset" tabindex="5" name="save" value="Reset" class="reset-button">
            </td>
        </tr>
    </table>
</form>
</div>
<div class="clear"></div>
</div>
<br />
</div>